/* HTML, body and .grid-container CSS to force footer to bottom of page */
html {
    position: relative;
    height: 100%;
}

body {
    background-image: url(../assets/images/background.png);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
    height: 100%;
}

.grid-container {
    min-height: 100%;
    position: relative;
}

form {
    margin: 10px, auto;
}

/* newGif ID set as grid as well because it is the grandchild of grid container */
#newGif {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 200px;
    grid-gap: 10px;
    min-width: 100%;
    min-height: 100%;
}

/* Displayed as table-cell to force equal spacing across its container */
img {
    display: table-cell;
    height: 180px;
    max-width: 100%;
    box-shadow: 10px 10px 5px grey;
    vertical-align: middle;
    margin: 0 auto;
}

/* To make rating text center above image */
p {
    text-align: center;
}

/* Color taken from NBA logo, box-shadow makes button look as if it is being pressed like a physical button */
button, #add-player {
    background-color: #17408B;
    color: #fff;
    border-style: none;
    padding: 15px 25px;
    margin: 10px;  
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:active, #add-player:active {
    transform: translateY(4px);
    box-shadow: 0 5px #666;
    background-color: #C9082A
}

input#add-player {
    margin: 10px auto;
}

button:hover, #add-player:hover {
    color: #fff;
    background-color: #102C61;
}

#playerBtn, .ButtonsForm, #add-player {
    display: flex;
    justify-content: center;
    margin: 5px auto;
}

/* Footer icons */
.fab {
    color: #17408B;
}

.fab:hover {
    color: #102C61;
}

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
#newGif {
    display: grid;
    /* Moves from 4 to 3 columns as screen is < 1000px */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 200px;
    grid-gap: 10px;
    }
}

@media only screen and (max-width: 700px) {
#newGif {
    display: grid;
    /* Moves from 3 to 2 columns as screen is < 700px */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 200px;
    grid-gap: 10px;
    }
}

@media only screen and (max-width: 300px) {
#newGif {
    display: grid;
    /* Moves from 2 to 1 column in case page is viewed on small device */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 200px;
    grid-gap: 10px;
    }
}
